/*公共样式*/
.container{
	width: 1190px;
	margin: 0 auto;
}
html,body{
	width: 100%;
	height: 100%;
}
/*公共样式  end*/

/*index.html start*/
.index{
	width: 100%;
	height: 100%;
	background: url(../img/index-bg.jpg) no-repeat ;
	background-size: cover;
}
.index .header{
	height: 70px;
	background: rgba(0,0,0,0.4);

}
.index .header .heade{
	width: 1050px;
	height: 70px;
	margin: 0 auto;
}
.index .head-left{
	float: left;
	height: 100%;
}
.index .head-left ul{
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.index .head-left ul li{
	width: 80px;
	height:50px;
	margin: 10px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.index .head-left ul li a:after{
	content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    right: -6px;
    top: 50%;
}
.index .head-left ul li:first-child{
	background: url(../img/logo.png) center center no-repeat;
	background-size: cover;
}
.index .head-right{
	float: right;
	height: 100%;
}
.index .head-right ol{
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.index .head-right ol li{
	width: 80px;
	margin: 10px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.index .head-right ol li a:after{
	content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    right: -6px;
    top: 50%;
}
/*index.html end*/
