/*公共样式*/
.container{
	width: 1190px;
	margin: 0 auto;
}
html,body{
	width: 100%;
	height: 100%;
}
.clearfix{
	zoom:1;
}
.clearfix:after{
	content: '';
	display: block;
	visibility: hidden;
	height: 0;
	clear: both;
}
/*公共样式  end*/

/*index.html start*/
.index{
	width: 100%;
	height: 100%;
	background: url(../cenu_img/index-img/index-bg.png) no-repeat ;
	background-size: cover;
}
.index .header{
	height: 70px;
	background: rgba(0,0,0,0.4);

}
.index .header .heade{
	width: 1050px;
	height: 70px;
	margin: 0 auto;
}
.index .head-left{
	float: left;
	height: 100%;
}
.index .head-left ul{
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.index .head-left ul li{
	width: 80px;
	height:50px;
	margin: 10px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.index .head-left ul li:first-child{
	width: 65px;
	margin: 10px 40px 10px 10px;
}
.index .head-left ul li a{
	font-weight: bold;
	font-size: 20px;
}
.index .head-left ul li a:after{
	content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    right: -6px;
    top: 50%;
}
.index .head-left ul li:first-child{
	background: url(../cenu_img/logo.png) center center no-repeat;
	background-size: cover;
}
.index .head-right{
	float: right;
	height: 100%;
}
.index .head-right ol{
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.index .head-right ol li{
	width: 80px;
	margin: 10px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.index .head-right ol li a{
	font-weight: bold;
	font-size: 20px;
}
.index .head-right ol li a:after{
	content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    right: -6px;
    top: 50%;
}

.index .content{

}
.index .content .container{
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.index .content .left{
	width: 600px;
	height: 370px;
}
.index .content .left .banner{
	position: relative;
}
.index .content .left .tup{

}
.index .content .left .tup ul{
	
}
.index .content .left .tup ul li{
	width: 100%;
    height: 370px;
    margin: 0 auto;
    z-index: 1;
}
.index .content .left .tup ul li:nth-child(1){
	background: url(../cenu_img/index-img/ban01.png) no-repeat;
	background-size: cover;
}
.index .content .left .tup ul li:nth-child(2){
	background: url(../cenu_img/index-img/ban02.png) no-repeat;
	background-size: cover;
}
.index .content .left .tup ul li:nth-child(3){
	background: url(../cenu_img/index-img/ban03.png) no-repeat;
	background-size: cover;
}
.index .content .left .tup ul li:nth-child(4){
	background: url(../cenu_img/index-img/ban04.png) no-repeat;
	background-size: cover;
}
.index .content .left .tup ul li:nth-child(5){
	background: url(../cenu_img/index-img/ban05.png) no-repeat;
	background-size: cover;
}
.index .content .left .tup ul a{
	display: block;
	height: 100%;
	width: calc( 100% - 50px);
	margin: 0 0 0 50px;
}
.index .content .left .ann{
	height: 200px;
    line-height: 20px;
    position: absolute;
    top: 0;
    left: 0;
}
.index .content .left .ann ul{
	height: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-around;
}
.index .content .left .ann ul li{
	display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    z-index: 9;
    border-radius: 50%;  
    border: 3px solid rgba(255,255,255,0.5);
}
.index .content .left .ann ul a{
	color: #fff;
}
.index .content .left .ann ul li.dActive{
    background: #fa3778;
}
.index .content .right{
	width: 310px;
	height: 400px;
	/*background: red;*/
	color: #fff;
}
.index .content .right h3{
	margin: 40px auto;
	text-align: center;
}
.index .content .right p{
	text-indent:2em;
	letter-spacing: 1px;
    line-height: 2;
}
.index .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	color: #fff;
}
/*index.html end*/

/*登录注册页面  login register Start*/
.login{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.login .header{
    height: 80px;
}
.login .header .container{
    display: flex;
    justify-content: space-between;
}
.login .header .headl img{
    height: 100%;
    padding: 10px 0 0 0;
    box-sizing: border-box;
}
.login .header .headr{
    margin: 55px 0 0 500px;
    font-weight:bold;
    color: #fff;
}
.login .header .headr a{
    color: #ff3c00;
}
.login .loginform{
    /*background: pink;*/
    opacity: 0.6;
    width: 410px;
    /*padding:0 390px;*/
    overflow: hidden;
	margin: 50px 0 0 800px;
}
.login .loginform .loginRight{
    text-align: center;
    background:rgba(255,255,255,0.15);
    color: #fff;
    border-radius: 50px;
    padding:15px 0 50px ;
    margin: 20px 0;
}
.login .loginform .loginRight>h2{
    font-size: 20px;
    height: 40px;
    line-height: 40px;
    font-family: "微软雅黑";
}
.login .loginform .loginRight>h3 {
    font-size: 12px;
    font-weight: 400;
    height: 25px;
    line-height: 25px;
    margin-top: 10px;

}
.login .loginform .loginRight>input{
    margin: 0;
    padding: 0;
    width: 283px;
    height: 33px;
    background: none;
    color: #fff;
    border: rgba(255,255,255,0.4) 1px solid;  
    padding:0 13px;
    border-radius:20px;
    box-sizing: border-box;
}
.login .loginform .loginRight .zhuangtai{
    height: 30px;
    line-height: 30px;
}
.login .zhuangtai input{
    position: relative;
    top: 2px;
}
.login .loginform .loginRight button{
    width: 110px;
    height: 33px;
    margin: 10px 20px 10px 60px;
    border-radius:20px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
    outline:none;
    float: left;
    color: #fff;
    background: none;
    border: 1px solid rgba(2552,255,255,0.4);
}
.login .tishi{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    background: rgba(0,0,0,0.5);
    display: none;
}
.login .tishi .tishicont{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20%;
    left:38%;
    text-align: center;
    background: #fff;
    border-radius: 30%;
}
.login .tishi .tishicont img{
    width: 100px;
    margin: 60px 0;
}
.login .tishi .tishicont p{
    font-size: 20px;
}
/*登录注册页面  login register End*/

/*作品集页面   design  Start*/
.design{
	width: 100%;
	height: 100%;
	background: url(../cenu_img/index-img/index-bg.jpg) no-repeat ;
	background-size: cover;
}
.design .header{
	height: 70px;
	background: rgba(0,0,0,0.4);

}
.design .header .heade{
	width: 1050px;
	height: 70px;
	margin: 0 auto;
}
.design .head-left{
	float: left;
	height: 100%;
}
.design .head-left ul{
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.design .head-left ul li{
	width: 80px;
	height:50px;
	margin: 10px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.design .head-left ul li:first-child{
	width: 65px;
	margin: 10px 40px 10px 10px;
}
.design .head-left ul li a{
	font-weight: bold;
	font-size: 20px;
}
.design .head-left ul li a:after{
	content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    right: -6px;
    top: 50%;
}
.design .head-left ul li:first-child{
	background: url(../cenu_img/logo.png) center center no-repeat;
	background-size: cover;
}
.design .head-right{
	float: right;
	height: 100%;
}
.design .head-right ol{
	height: 100%;
	display: flex;
	justify-content: flex-start;
}
.design .head-right ol li{
	width: 80px;
	margin: 10px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
}
.design .head-right ol li a{
	font-weight: bold;
	font-size: 20px;
}
.design .head-right ol li a:after{
	content: '';
    width: 3px;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    right: -6px;
    top: 50%;
}
.design .footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	background: rgba(0,0,0,0.4);
	text-align: center;
	color: #fff;
}
/*作品集页面   design  End*/